In [62]:
import pandas as pd

In [63]:
filename = r"C:/Users/Paul/tennis_atp/atp_matches_2018.csv"
df = pd.read_csv(filename)
# df.describe()
df.head()
# print(df.head)
# print(df.index)
# print(df.columns)
# print(df.values)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2018-M020,Brisbane,Hard,32,A,20180101,300,106401,3.0,NaN,...,5.0,8.0,3.0,58.0,32.0,22.0,12.0,9.0,4.0,7.0
1,2018-M020,Brisbane,Hard,32,A,20180101,299,106401,3.0,NaN,...,2.0,5.0,6.0,74.0,44.0,32.0,16.0,13.0,3.0,6.0
2,2018-M020,Brisbane,Hard,32,A,20180101,298,105992,NaN,NaN,...,6.0,9.0,5.0,94.0,62.0,49.0,16.0,16.0,0.0,3.0
3,2018-M020,Brisbane,Hard,32,A,20180101,297,105777,1.0,NaN,...,2.0,6.0,1.0,89.0,53.0,39.0,23.0,15.0,4.0,6.0
4,2018-M020,Brisbane,Hard,32,A,20180101,296,106401,3.0,NaN,...,3.0,6.0,3.0,75.0,41.0,33.0,16.0,13.0,2.0,4.0

In [64]:
# loc selects using the labels of the rows and columns.
# df[0:1]
# df.loc[0:1, 'surface']
# iloc selects using the indices of the rows and columns. This is similar to Numpy indexing.
df.iloc[0:4, 4:6]

  tourney_level  tourney_date
0             A      20180101
1             A      20180101
2             A      20180101
3             A      20180101

In [65]:
# Types of columns.
df.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
winner_rank           float64
winner_rank_points    float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
loser_rank            float64
loser_rank_points     float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
dtype: object

# Most bagels

In [107]:
df_bagels = df.loc[:, ['tourney_id', 'match_num', 'winner_name', 'loser_name', 'score']]

# The matches that contain a bagel (6-0 or 0-6). I think the first score corresponds to the match winner.
# The set score must appear at the start of the string, or be preceded by a space. This removes the tie-breakers that contain things like '10-6'
df_60 = df_bagels.loc[df['score'].str.contains('(^| )6-0', regex=True)]
df_06 = df_bagels.loc[df['score'].str.contains('(^| )0-6', regex=True)]

# Create a new column that contains the player that got the bagel/s.
df_60['player'] = df_60['winner_name']
df_06['player'] = df_06['loser_name']

# Create a new column that contains the number of bagels.
df_60['num_bagels'] = df_60['score'].str.count('(^| )6-0')
df_06['num_bagels'] = df_06['score'].str.count('(^| )0-6')

# Merge the two dataframes.
df_bagels = pd.concat([df_60, df_06])

# Sum the bagels per person.
df_bagels = df_bagels.groupby('player')['num_bagels'].sum()

df_bagels.iloc[0:5]
df_bagels

C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """
C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Paul\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

player
Adrian Ungur                   1
Alex De Minaur                 1
Aljaz Bedene                   2
Borna Coric                    3
Casper Ruud                    2
Chun Hsin Tseng                2
Cristian Rodriguez             1
Damir Dzumhur                  1
Daniel Elahi Galan Riveros     1
David Goffin                   3
Dennis Novak                   1
Dragos Dima                    1
Dusan Lajovic                  1
Edris Fetisleam                1
Fernando Verdasco              4
Francis Tiafoe                 1
Guido Pella                    1
Guillermo Garcia Lopez         1
Hyeon Chung                    1
Jared Donaldson                1
Jiri Vesely                    1
Joao Sousa                     2
John Millman                   2
Jurgen Zopp                    1
Karim Mohamed Maamoun          1
Kei Nishikori                  1
Kyle Edmund                    2
Lamine Ouahab                  1
Leonardo Mayer                 1
Mackenzie Mcdonald             1
Malek Jaziri                   1
Manuel Sanchez                 1
Marius Copil                   1
Marton Fucsovics               2
Maximilian Marterer            1
Novak Djokovic                 1
Pablo Andujar                  1
Pablo Carreno Busta            3
Pablo Cuevas                   2
Radu Albot                     1
Rafael Nadal                   4
Ricardo Rodriguez              1
Richard Gasquet                2
Robin Haase                    2
Rogerio Dutra Silva            1
Skyler Butts                   1
Taylor Harry Fritz             1
Tennys Sandgren                1
Thomas Fabbiano                1
Tomas Berdych                  1
Viktor Troicki                 1
Wishaya Trongcharoenchaikul    1
Yoshihito Nishioka             1
Youssef Hossam                 1
Name: num_bagels, dtype: int64